<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #sexy{
            content: '';
  background: url('sunset.jpg') no-repeat center center/cover;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: -1;
        }
    </style>
</head>
<body>
    <div id="sexy">
        왜 안나와

    </div>
</body>
</html>